%td{ :valign => "top", :bgcolor => "#134B85" }
  %table{ :cellspacing => "0", :border => "0", :align => "center", :width => "1024", :cellpadding => "0" }
    %tr
      %td{ :width => "507" }
        = link_to image_tag("theme/plantilla/02.gif", :mouseover => "theme/plantilla/02.f2.gif",:height => "117", :width => "507" ), "/"

      %td{ :width => "517" }
        / SiteSearch Google
        %form{:method=>"get", :action=>"http://www.google.com/custom", :target=>"_top"}
          %input{ :type=>"hidden", :name=>"domains", :value=>"#{application_url}"}
          %label{ :for=>"search",  :style=>"display: none"}
          = :search.l+"Curriculo Vivo: "
          %input{ :type=>"text",:name=>"q", :size=>"17", :maxlength=>"255", :id=>"search"}
          %input{ :type=>"hidden", :name=>"sitesearch", :value=>"#{application_url}", :id=>"ss1"}
          %input{ :type=>"hidden", :name=>"client", :value=>"pub-9113954708528841"}
          %input{ :type=>"hidden", :name=>"forid", :value=>"1"}
          %input{ :type=>"hidden", :name=>"channel", :value=>"1842224655"}
          %input{ :type=>"hidden", :name=>"ie", :value=>"ISO-8859-1"}
          %input{ :type=>"hidden", :name=>"oe", :value=>"ISO-8859-1"}
          %input{ :type=>"hidden", :name=>"cof", :value=>"GALT:#008000;GL:1;DIV:#FFFFFF;VLC:663399;AH:center;BGC:FFFFFF;LBGC:FFFFFF;ALC:0066CC;LC:0066CC;T:000000;GFNT:0000FF;GIMP:0000FF;LH:50;LW:90;S:http://#{application_url};FORID:1"}
          %input{ :type=>"hidden", :name=>"hl", :value=>"en"}

  %p{ :style => "margin:0px" }