%table{ :cellspacing => "0", :border => "0", :align => "center", :width => "1024", :cellpadding => "0", :bgcolor => "#004B85" }
  %tr
    %td
      = link_to image_tag("theme/menu_principal1/01.gif", :mouseover => "theme/menu_principal1/01.f2.gif",:class => "n01", :name => "n01", :border => "0", :height => "39", :alt => "", :width => "144")
    %td
      = link_to image_tag("theme/menu_principal1/02.gif", :mouseover => "theme/menu_principal1/02.f2.gif",:class => "n", :name => "n02_2", :border => "0", :height => "39", :alt => "", :width => "214")
    %td
      = link_to image_tag("theme/menu_principal1/03.gif", :mouseover => "theme/menu_principal1/03.f2.gif",:class => "n2", :name => "n03_2", :border => "0", :height => "39", :alt => "", :width => "133")
    %td
      = link_to image_tag("theme/menu_principal1/04.gif", :mouseover => "theme/menu_principal1/04.f2.gif",:class => "n3", :name => "n04_2", :border => "0", :height => "39", :alt => "", :width => "167"), :controller => "catedras"
    %td
      = link_to image_tag("theme/menu_principal1/05.gif", :mouseover => "theme/menu_principal1/05.f2.gif",:class => "n4", :name => "n05_2", :border => "0", :height => "39", :alt => "", :width => "201" )
    %td
      = link_to image_tag("theme/menu_principal1/06.gif", :mouseover => "theme/menu_principal1/06.f2.gif",:class => "n5", :name => "n06_2", :border => "0", :height => "39", :alt => "", :width => "165" )
%p{ :style => "margin:0px" }
