%td{ :class => "td_green"}
  %table{ :cellspacing => "0", :border => "0", :align => "center", :width => "1024", :cellpadding => "0", :bgcolor => "#DCE137" }
    %tr
      %td{ :bgcolor => "#DCE137" }
        = image_tag("theme/menu_principal2/01.jpg", :mouseover => "theme/menu_principal2/01.f2.jpg", :class =>"n6" , :name => "n01_2", :border => "0", :height => "41", :alt => "", :width => "277")
      %td{ :bgcolor => "#DCE137" }
        = link_to image_tag("theme/menu_principal2/02.gif", :mouseover => "theme/menu_principal2/02.f2.gif", :class =>"n7", :name => "n02_3", :border => "0", :height => "41", :alt => "", :width => "225" )
      %td{ :bgcolor => "#DCE137" }
        = link_to image_tag("theme/menu_principal2/03.gif", :mouseover => "theme/menu_principal2/03.f2.gif", :class =>"n8", :name => "n03_3", :border => "0", :height => "41", :alt => "", :width => "164" )
      %td{ :bgcolor => "#DCE137" }
        = link_to image_tag("theme/menu_principal2/04.gif", :mouseover => "theme/menu_principal2/04.f2.gif", :class =>"n9", :name => "n04_3", :border => "0", :height => "41", :alt => "", :width => "183" )
      %td{ :bordercolor => "#DDE236" }
        = link_to image_tag("theme/menu_principal2/05.gif", :mouseover => "theme/menu_principal2/05.f2.gif", :class =>"n10", :name => "n05_3", :border => "0", :height => "41", :alt => "", :width => "175" )
  %p{ :style => "margin:0px" }