%td{:class => "td_menuEAFIT", :align => "right", :valign => "top", :bgcolor => "#ffffff" }
  %table{ :cellspacing => "0", :border => "0", :align => "center", :width => "0%", :cellpadding => "0" }
    %tr
      %td
        = link_to image_tag('theme/menu_eafit/03.jpg',:mouseover => "theme/menu_eafit/03.f2.jpg", :class => "n03", :name => "n03", :border => "0", :height => "34", :alt => "", :width => "117") , "http://isis.eafit.edu.co", :target=>"_blank"
      %td
        = link_to image_tag('theme/menu_eafit/04.jpg',:mouseover => "theme/menu_eafit/04.f2.jpg" ,:class => "n04", :name => "n04", :border => "0", :height => "34", :alt => "", :width => "77") ,"http://entrenos.eafit.edu.co/", :target => "_blank"
      %td
        = link_to image_tag("theme/menu_eafit/05.jpg",:mouseover => "theme/menu_eafit/05.f2.jpg",:class => "n05", :name => "n05", :border => "0", :height => "34", :alt => "", :width => "107") , "http://www.eafit.edu.co/biblioteca.shtm", :target => "_blank"
      %td
        = link_to image_tag("theme/menu_eafit/06.jpg",:mouseover => "theme/menu_eafit/06.f2.jpg",:class => "n06", :name => "n06", :border => "0", :height => "34", :alt => "", :width => "61"), "http://portus.eafit.edu.co", :target => "_blank"
      %td
        = link_to image_tag("theme/menu_eafit/07.jpg",:mouseover => "theme/menu_eafit/07.f2.jpg",:class => "n07", :name => "n07", :border => "0", :height => "34", :alt => "", :width => "101" ), "https://webapps.eafit.edu.co/ecommerce/pagoAyre-ini.do"  , :target => "_blank"
      %td
        = link_to image_tag("theme/menu_eafit/08.jpg",:mouseover => "theme/menu_eafit/08.f2.jpg",:class => "n08", :name => "n08", :border => "0", :height => "34", :alt => "", :width => "115" ), "http://www.eafit.edu.co/eafitcn/agenda", :target => "_blank"
%p{ :style => "margin:0px" }