<p>
  <strong>Name:</strong>
  <%=h @attachment.name %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @attachment.description %>
</p>

<p>
  <% if @attachment.is_image? %>
    <%= image_tag @attachment.source.url %>
  <% else %>
    <%= link_to "Descargar (#{@attachment.extension})", @attachment.source.url %>
  <% end %>
</p>

<p>
  <%= link_to "Edit", edit_attachment_path(@attachment) %> |
  <%= link_to "Destroy", @attachment, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", attachments_path %>
</p>
